:root {
  --purple: #3f0e40;
  --purple-dark: #350d36;
  --purple-light: #611f69;
  --tch-height: 50px;
  --sidebar-width: 243px;
  --top-nav-height: 38px;
  --add-msg-height: 95px;
  --msg-content-height: calc(
    var(--add-msg-height) + var(--top-nav-height) + var(--tch-height)
  );
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;

  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ant-modal-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.ant-card {
  box-shadow: -9px 9px 9px -7px rgba(27, 120, 151, 0.75);
  -webkit-box-shadow: -9px 9px 9px -7px rgba(27, 120, 151, 0.75);
  -moz-box-shadow: -9px 9px 9px -7px rgba(27, 120, 151, 0.75);
  border-color: #ccc;
  border-radius: 6px;
}

.ant-card-head {
  border-color: #ccc;
  text-align: left;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}
